{{ ansible_managed | comment }}

ARGS="--config.file=/etc/prometheus/ipmi-exporter/config.yaml {{ ipmi_exporter_additional_options }}"

# GLOBAL OPTIONS:
#  --config.file=CONFIG.FILE      Path to configuration file.
#  --freeipmi.path=FREEIPMI.PATH  Path to FreeIPMI executables (default: rely on $PATH).
#  --web.listen-address=":9290"   Address to listen on for web interface and telemetry.
#  --web.config.file=""           [EXPERIMENTAL] Path to configuration file that can enable TLS or authentication.
#  --log.level=info               Only log messages with the given severity or above. One of: [debug, info, warn, error]
#  --log.format=logfmt            Output format of log messages. One of: [logfmt, json]
#  --version                      Show application version.

