---
{{ ansible_managed | comment }}

groups:

{% for group in alert_groups %}

- name: {{ group }}
  rules:
{% for job in jobs %}
{% if job.group | default(prometheus_default_alert_group_name) == group %}

{{ job.alerts | to_nice_yaml(indent=2) | indent(2, first=true) }}
{% endif %}
{% endfor %}

{% for host in hostvars.keys() %}
{% if 'prometheus_host_specific_alerts' in hostvars[host] and host.prometheus_host_specific_alert_group | default(prometheus_default_alert_group_name) == group %}

{{ hostvars[host].prometheus_host_specific_alerts | to_nice_yaml(indent=2) | indent(2, first=true) }}
{% endif %}
{% endfor %}

{% endfor %}