---
{{ ansible_managed | comment }}

global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}
  external_labels:
    monitor: {{ prometheus_monitor_name | default(ansible_hostname) }}

alerting:
  alertmanagers:
    - static_configs:
        {% if groups[prometheus_hostgroup_alertmanagers] | default([]) | length == 0 -%}
        - targets: []
        {%- else -%}
        - targets:
           {% for host in groups[prometheus_hostgroup_alertmanagers] -%}
           - "{{ hostvars[host].inventory_hostname }}:{{ hostvars[host].prometheus_alertmanager_port | default(prometheus_alertmanager_port) | int }}"
           {%- endfor %}
        {%- endif %}

rule_files:
  - /etc/prometheus/alert_rules.yml

scrape_configs:

{% for job in jobs %}

- job_name: {{ job.name }}
{% if 'scrape_interval' in job %}
  scrape_interval: {{ job.scrape_interval }}
{% endif %}
{% if 'blackbox' in job %}
  metrics_path: /probe
  relabel_configs:
    - source_labels:
      - __address__
      target_label: __param_target
    - source_labels:
      - __param_target
      target_label: instance
    - target_label: __address__
      replacement: localhost:9115
  params:
    module:
{% for module in job.blackbox.modules.keys() %}
      - {{ module }}
{% endfor %}
{% endif %}

{% if 'scheme' in job %}
  scheme: {{ job.scheme }}
{% endif %}

{% if 'basic_auth_user' in job and 'basic_auth_password' in job %}
  basic_auth:
    username: {{ job.basic_auth_user }}
    password: {{ job.basic_auth_password }}
{% endif %}

{% if 'authorization' in job %}
  authorization:
{% if 'type' in job.authorization %}
    type: {{ job.authorization.type }}
{% endif %}
{% if 'credentials' in job.authorization %}
    credentials: {{ job.authorization.credentials }}
{% endif %}
{% endif %}

{% if 'tls_config' in job %}
  tls_config:
    ca_file: {{ job.tls_config.ca_file }}
    cert_file: {{ job.tls_config.cert_file }}
    key_file: {{ job.tls_config.key_file }}
    insecure_skip_verify: {{ job.tls_config.insecure_skip_verify | default(false) }}
{% endif %}

  static_configs:
    - targets:
{% for host in groups['all'] %}
{% if hostvars[host]['monitor_' + job.name] | default(false) | bool %}
{%- set fstring = {} %}
{%- set _ = fstring.update(job.defaults|default({})) %}
{%- set _ = fstring.update(hostvars[host]) %}
        - {{ job.target_format | format(**fstring) | format(**fstring) }}
{% endif %}
{% endfor %}

{% endfor %}
