{{ ansible_managed | comment }}

{% for name, job in collectors.items() %}
# {{ name }}
{{ job.cronexpr }} {{ prometheus_node_crontab_system_user | default('') }} /bin/sh -c "/usr/local/bin/{{ job.template_base_name | default('prometheus-node-exporter-' + name + '.sh') }} | sponge {{ prometheus_node_textfile_dir }}/{{ name }}.prom"

{% endfor %}