---
{{ ansible_managed | comment }}

tls_server_config:
  cert_file: "{{ prometheus_node_tls_cert }}"
  key_file: "{{ prometheus_node_tls_key }}"
  client_auth_type: "{{ prometheus_node_tls_require_cert | ternary('RequireAndVerifyClientCert', 'NoClientCert') }}"
  client_ca_file: "{{ prometheus_node_tls_ca }}"
