{{ ansible_managed | comment }}

ARGS="--config=/etc/prometheus/dnssec-exporter/config.yaml --web.listen-address={{ dnssec_exporter_listen_address }} {{ dnssec_exporter_additional_options }}"

# GLOBAL OPTIONS:
# --web.listen-address=":9142"
#                      Address on which to expose metrics.
# --web.metrics-path="/metrics"
#                      Path under which to expose metrics.
# --web.config=""      Path to web config yaml file.
# --config=""          Path to config yaml file.
# --log.level=info     Only log messages with the given severity or above. One of: [debug, info, warn, error]
# --log.format=logfmt  Output format of log messages. One of: [logfmt, json]
# --version            Show application version.