{{ ansible_managed | comment }}

[Unit]
Description=Collect {{ item.key }} metrics for prometheus-node-exporter every {{ item.value.interval }}

[Timer]
OnBootSec=0
OnUnitActiveSec={{ item.value.interval }}

[Install]
WantedBy=timers.target
