---
{{ ansible_managed | comment }}

## dnssec exporter configuration
#
dns:
  # The resolver to use.  Must be DNSSEC validating, and
  # must not strip DNSSEC responses.
  resolver: {{ dnssec_exporter_dns_resolver }}
  # List of zones to resolve.
  zones:
{% for zone in dnssec_exporter_dns_zones %}
    - {{ zone }}{% if zone[-1] != '.' %}.{% endif %}

{% endfor %}

## TLS and Basic Auth can be configured here as well, see for details:
## https://github.com/prometheus/exporter-toolkit/blob/master/web/tls_config.go#L36
#
#basic_auth_users:
#  user1: pass1
#  user2: pass2
#tls_server_config:
#  cert_file: server.crt
#  key_file: server.key

{{ dnssec_exporter_additional_config }}
